header {
       display: flex;
       width: 80%;
       height: 8rem;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       > img {
              width: 25%;
              margin-left: 1.2rem;
       }
       > ul {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center; 
              margin-right: 1.2rem;     
              > li {
                     margin-left: 3.6rem;
                     list-style-type: none;
              }
       }
}