footer {
       width: 80%;
       height: 12rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       > img {
              width: 25%;
       }
       >.social {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 2.4rem;
              margin-top: 1.2rem;
              img{
                     width: 2.4rem;
                     
              }
              
       }

}